body {
  margin: 0;
}

/*** SECTIONS ***/

header, .portfolio-section, footer {
  /* padding: 70px 300px; */
  padding: 50px 100px;
  text-align: center;
} 

.color-section {
  background-color: #f6f5f5;
}

/*** HEADER ***/

header {
  /* background-color: #145374; */
  background-color: #4e7f99;
  border-bottom: 3px solid white; 
}

.header-icon-container, .header-picture img {
  width: 250px;
}

.header-icon-row {
  display: flex;
  justify-content: flex-end;
}

.header-icon-container {
  display: flex;
  justify-content: center;
}

.header-icon, header a {
  height: 70px;
}

.header-text {
  text-align: left;
}

h1 {
  margin: 20px 0;
  font-family: 'Roboto', sans-serif; 
  font-size: 20px;
  letter-spacing: 1.1px;
  font-weight: 400;
}

h2 {
  margin: 20px 0;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.header-picture {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -100px;
  margin-top: -94px;
}

.header-picture img {
  border-radius: 50%;
  border: 3px solid white;
}

/*** PORTFOLIO SECTIONS ***/

p {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 30px;
}


.p-strong {
  color:#EE6F57; 
  font-weight: 700;
}

h5 {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.p-left {
  display: block;
  text-align: left;
}

h3 { 
  padding: 10px;
  display: inline-block;
  background-color: #EE6F57; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 36px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.tag {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #ffc3b7;
  font-family: 'Roboto', sans-serif; 
}

/*** FEATURED PROJECTS ***/

.featured-projects-container {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  margin: 20px 0;
}

.featured-project {
  width: 370px;
}

.project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-tags {
  display: flex;
}

/*** OTHER PROJECTS ***/
.other-projects-container { 
  text-align: left;
}

.other-project {
  margin-top: 40px;
  display: inline-block;
}

.other-project p, .other-project h5 {
  text-align: left;
  text-decoration: underline;
  text-decoration-color: black;
}

/*** SKILLS ***/

.skill-container {
  display: flex;
  justify-content: space-evenly;
}

.skill-container ul {
  width: 100%;
}

.skill-container li {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

 /*** FOOTER ***/

footer {
  background-color:#00334E;
  color: white;
  text-align: center;
} 

footer p {
  line-height: 12px; 
  color: white;
  display: block;
}

/*** RESPONSIVE  PHONE ***/

@media (max-width: 767px) {
  header, .portfolio-section, footer {
    padding: 40px;
   }

   header {
     padding: 100px 40px;
   }

   .header-text {
     margin: 20px 0;
   }
    
    .header-icon-container, .header-picture img {
      width: 150px;
    }
    
    .header-icon, header a {
      height: 50px;
    }
    
    h1 {
      margin: 10px 0;
      font-size: 16px;
      letter-spacing: 0.6px;
    }

    h2 {
      margin: 10px 0;
      width: 300px;
      font-size: 40px;
    }

    .header-picture {
      margin-bottom: -110px;
      margin-top: 30px;
    }
    
    p {
      font-size: 16px;
    }
    
    h3 { 
      padding: 5px;
      font-size: 24px;
    }
    
    h4 {
      font-size: 20px;
    }
    
    .tag {
     font-size: 12px;
    }
    
    .featured-projects-container {
      display: block;
    }
    
    .featured-project {
      width: 100%; 
      margin-bottom: 40px;
    }

    .skill-container {
      display: block;
    }

    .skill-container ul {
      margin: 20px 0;
    }

    .skill-container li {
      font-size: 16px;
    }
  }

/*** RESPONSIVE  TABLET ***/
  
@media (min-width: 768px) and (max-width: 1023px) {
  header, .portfolio-section, footer {
    padding: 50px 100px;
   }
    .header-icon-container, .header-picture img {
      width: 175px;
    }
    
    .header-icon, header a {
      height: 60px;
    }
    
    h1 {
      margin: 10px 0;
      font-size: 16px;
      letter-spacing: 0.6px;
    }

    h2 {
      margin: 10px 0;
      width: 300px;
      font-size: 40px;
    }

    .header-picture {
      margin-bottom: -70px;
      margin-top: 10px;
    }
    
    p {
      font-size: 16px;
    }
    
    h3 { 
      padding: 5px;
      font-size: 24px;
    }
    
    h4 {
      font-size: 20px;
    }
    
    .tag {
     font-size: 12px;
    }
    
    .featured-projects-container {
      display: block;  
    }
    
    .featured-project {
      margin: auto;
      margin-bottom: 40px;
    }

    .skill-container ul {
      margin: 20px 0;
    }

    .skill-container li {
      font-size: 16px;
    }
  }

/*** RESPONSIVE LARGE SCREEN ***/

@media (min-width: 1400px) {
  header, .portfolio-section, footer {
    padding: 70px 300px;
  } 
}
